PORT=3000
# MONGODB_URL_LOCAL=mongodb://localhost:27017/voting-app
MONGODB_URL_LOCAL=
CLIENT_URL=http://localhost:5173
EMAIL_USER=
EMAIL_PASS=
ADMIN_NAME=r
ADMIN_EMAIL=
ADMIN_AADHAR_NUMBER=
ADMIN_PASSWORD=
